@font-face {
    font-family: "Merriweather";
    src: url("../fonts/merriweather-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather";
    src: url("../fonts/merriweather-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}


html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
    background: rgb(255,255,255);
    margin: 0;
    font-family: Lato, sans-serif;
    color: rgb(76,76,76);
    text-align: center;
}

footer {
    background: rgb(157,199,192);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
}

h2 {
    font-family: Merriweather, serif;
    color: rgb(140,199,189);
}

p {
    margin: 0;
}

strong {
    font-weight: bold;
}


.sand-bkgd {
    background: rgb(240,238,228);
}

.container {
    width: auto;
    margin: 0;
}

.hero {
    min-height: 400px;
    color: rgb(255,255,255);
    font-family: Merriweather, serif;
}

.hero ul {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0 0 0;
    list-style-type: none;
    font-size: 1em;
    color: rgb(166,234,224);
}

.hero ul a {
    color: rgb(255,255,255);
    text-decoration: none;
    transition: color 200ms linear;
}

.hero ul a:hover {
    color: rgb(166,234,224);
}

.hero h1 {
    margin: 50px 0 0 0;
    font-size: 2em;
    font-weight: bold;
}

.hero h1 + p {
    font-size: 1em;
    line-height: 1.5em;
}

.hero #frame {
    background: rgb(140,199,189);
    width: 170px;
    height: 35px;
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 17px;
    font-family: Lato, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.standard-section {
    padding: 30px 30px 30px 30px;
    font-size: 1em;
    line-height: 1.3em;
}

.standard-section p {
    margin-bottom: 25px;
}


#hero-index {
    background: url("../img/index-bkgd.jpg") top no-repeat;
    background-size: cover;
}

#office-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#office-photos div {
    width: 215px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#office-photos img {
    width: 100%;
}

#infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#infos div {
    width: 240px;
    text-align: left;
}

#infos h2 {
    margin-top: 0;
    font-size: 1.3em;
}

#infos table {
    width: 70%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#infos td {
    width: 50%;
}


@media (min-width: 1200px) {
    footer {
        font-size: 1.1em;
    }
    
    .container {
        width: 80%;
        margin: auto;
    }
    
    .hero {
        min-height: 800px;
    }
    
    .hero ul {
        font-size: 1.4em;
    }
    
    .hero h1 {
        margin-top: 150px;
        font-size: 4.2em;
    }
    
    .hero h1 + p {
        font-size: 1.9em;
    }
    
    .hero #frame {
        margin-top: 135px;
        width: 340px;
        height: 70px;
        border-radius: 35px;
        font-size: 2.2em;
    }
    
    .standard-section {
        padding: 45px 0 45px 0;
        font-size: 1.3em;
    }
    
    #office-photos div {
        width: 320px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #infos div {
        width: 365px;
    }
    
    #infos h2 {
        margin-top: 25px;
        font-size: 1.5em;
    }
}