/*** Fonts ***/

/* Merriweather */

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/merriweather-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/merriweather-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Lato */

@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/*** Tags ***/

html {
    /* Prevents browsers from rendering fonts too bold */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background: rgb(255,255,255);
    margin: 0;
    font-family: Lato, sans-serif;
    color: rgb(76,76,76);
    text-align: justify;
}

footer {
    background: rgb(157,199,192);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
    text-align: center;
}

h1 {
    font-weight: bold;
    overflow-wrap: break-word;
}

h2 {
    font-family: Merriweather, serif;
    margin: 0 0 25px 0;
    color: rgb(140,199,189);
    text-align: left;
    line-height: 1.2em;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: bold;
}

/*** Classes ***/

.sand-bkgd {
    background: rgb(240,238,228);
}

.container {
    width: auto;
    margin: 0;
}

/* Hero section */

.hero-section {
    min-height: 350px;
    color: rgb(255,255,255);
    font-family: Merriweather, serif;
    text-align: center;
}

.hero-section nav {
    margin-bottom: 50px;
    padding-top: 30px;
}

.hero-section ul {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1em;
    color: rgb(166,234,224);
}

.hero-section ul a {
    color: rgb(255,255,255);
    text-decoration: none;
    transition: color 200ms linear;
}

.hero-section ul a:hover {
    color: rgb(166,234,224);
}

.hero-section h1 {
    margin: 0;
    font-size: 2em;
}

.hero-section p {
    font-size: 1em;
    line-height: 1.5em;
}

.hero-section #frame {
    background: rgb(140,199,189);
    width: 170px;
    height: 35px;
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 17px;
    font-family: Lato, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.hero-section #frame a {
    color: inherit;
    text-decoration: none;
}

/* Standard section */

.standard-section {
    padding: 30px 30px 5px 30px;
    font-size: 1em;
    line-height: 1.3em;
}

.standard-section p {
    margin-bottom: 25px;
}

.standard-section ul {
    margin-bottom: 25px;
    padding-left: 20px;
}

.standard-section li {
    margin-bottom: 25px;
}

.standard-section a {
    color: inherit;
    text-decoration: none;
}

.standard-section a:hover {
    text-decoration: underline;
}

/* Diagram */

.diagram {
    text-align: center;
}

.diagram img {
    width: 100%;
}

.diagram h2 {
    color: rgb(85,85,85);
    text-align: center;
}

/*** Identifiers ***/

#hero-index {
    background: url("../img/index-bkgd.jpg") top no-repeat rgb(160,160,160);
    background-size: cover;
    min-height: 400px;
}

#hero-tcc {
    background: url("../img/tcc-bkgd.jpg") top no-repeat rgb(160,160,160);
    background-size: cover;
}

#hero-emdr {
    background: url("../img/emdr-bkgd.jpg") top no-repeat rgb(160,160,160);
    background-size: cover;
}

#hero-infos {
    background: url("../img/infos-bkgd.jpg") top no-repeat rgb(160,160,160);
    background-size: cover;
}

/* Office photos */

#office-photos {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#office-photos div {
    width: 215px;
    margin-bottom: 25px;
}

#office-photos img {
    width: 100%;
    border-radius: 4px;
}

/* Office infos */

#office-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#office-infos div {
    width: 240px;
    text-align: left;
}

#office-infos h2 {
    font-size: 1.3em;
}

#office-infos table {
    width: 70%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#office-infos td {
    width: 50%;
}

/*** Media Queries ***/

@media (min-width: 768px) {
    .hero-section ul {
        width: 50%;
        margin: auto;
    }
    
    .diagram img {
        width: auto;
        max-width: 75%;
    }
}

@media (min-width: 1200px) {
    
    /* Tags */
    
    footer {
        font-size: 1.1em;
    }
    
    /* Classes */
    
    .container {
        width: 80%;
        margin: auto;
    }
    
    .hero-section {
        min-height: 600px;
    }
    
    .hero-section nav {
        margin-bottom: 150px;
    }
    
    .hero-section ul {
        font-size: 1.4em;
    }
    
    .hero-section h1 {
        font-size: 4.2em;
    }
    
    .hero-section p {
        font-size: 1.9em;
    }
    
    .hero-section #frame {
        margin-top: 135px;
        width: 340px;
        height: 70px;
        border-radius: 35px;
        font-size: 1.2em;
    }
    
    .standard-section {
        padding: 45px 0 20px 0;
        font-size: 1.3em;
    }
    
    .standard-section ul {
        padding-left: 40px;
    }
    
    /* Identifiers */
    
    #hero-index {
        min-height: 800px;
    }
    
    #office-photos {
        padding-top: 20px;
    }
    
    #office-photos div {
        width: 320px;
    }
    
    #office-infos div {
        width: 365px;
    }
    
    #office-infos h2 {
        font-size: 1.5em;
    }
}